.App {
  text-align: center;
}

/* .nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  padding: 8px 12px;
  position: sticky;
}

.nav ul {
  display: flex;
  margin: 20px;
}

.nav li {
  padding: 8px 12px;
}

.nav li::marker {
  content: none;
} */

.gameList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gameList li::marker {
  content: none;
}
.gameList li {
  padding: 5px 5px;
}
.gameList ul {
  width: 100%;
  display: flex;
}

.gameList .nbgame ul {
  display: grid;
}
.gameList .rcgame ul {
  display: grid;
}

.gameList #screen {
  width: 300px;
  height: 200px;
  text-align: center;
  user-select: none;
}

.gameList #screen.waiting {
  background-color: aqua;
}
.gameList #screen.ready {
  background-color: red;
  color: white;
}
.gameList #screen.now {
  background-color: greenyellow;
}

.gameList #computer {
  width: 142px;
  height: 200px;
  background-position: 0 0;
}

.gameList .ball {
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
}

.gameList table {
  border-collapse: collapse;
}
.gameList td {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  text-align: center;
}

hr {
  width: 30px;
  size: 2px;
  color: #b28900;
}
